@model Order

@{
    SelectList items = new SelectList(ViewBag.Toys, "Id", "Name");

}
<head>
    <title>Edit Order</title>
    <link rel="stylesheet" href="~/css/AddForm.css">
</head>

<form asp-controller="Order" asp-action="Edit">

    <div asp-validation-summary="All" style="color:red"></div>

    <label asp-for="Id" class="form-label"></label>
    <input asp-for="Id" class="form-control" readonly />
    <span asp-validation-for="Id" style="color:red"></span>

    <label asp-for="OrderNo" class="form-label"></label>
    <input asp-for="OrderNo" class="form-control" />
    <span asp-validation-for="OrderNo" style="color:red"></span>

    <label asp-for="TotalPrice" class="form-label"></label>
    <input asp-for="TotalPrice" class="form-control" />
    <span asp-validation-for="TotalPrice" style="color:red"></span>


    <label asp-for="ToysIds" class="form-label"></label>
    <select asp-items="items" asp-for="ToysIds" class="form-control"></select>
    <span asp-validation-for="ToysIds" style="color:red"></span>

    <button type="submit">Edit</button>
</form>

<a asp-controller="Order" asp-action="All" class="btn btn-primary">All Orders</a>

@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}