@model Toy

@{
    //SelectList items = new SelectList(ViewBag.Orders, "Id", "OrderNo");

}


<head>
    <title>Add Toy</title>
    <link rel="stylesheet" href="~/css/AddForm.css">
</head>

<form asp-controller="Toy" asp-action="Add" enctype="multipart/form-data">

    <div asp-validation-summary="All" style="color:red"></div>
    <div>
       
    <label asp-for="Id" class="form-label"></label>
    <input asp-for="Id" class="form-control" />
    <span asp-validation-for="Id" style="color:red"></span>

    <label asp-for="Name" class="form-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" style="color:red"></span>

    <label asp-for="Discription" class="form-label"></label>
    <input asp-for="Discription" class="form-control" />
    <span asp-validation-for="Discription" style="color:red"></span>

    <label asp-for="Price" class="form-label"></label>
    <input asp-for="Price" class="form-control" />
    <span asp-validation-for="Price" style="color:red"></span>

    <label asp-for="InStock"></label>
    <input asp-for="InStock" type="checkbox" /> <br />
    <span asp-validation-for="InStock" style="color:red"></span>

    <label asp-for="GenderFor"></label>
    <select asp-for="GenderFor">
        <option>Boys</option>
        <option>Girls</option>
        <option>All</option>
    </select>

   

        <label asp-for="Image" class="form-label"></label>
        <input type="file" name="image" class="form-control" />
        <span asp-validation-for="Image" style="color:red"></span>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>
    @*<button type="submit">Add</button>*@

<a asp-controller="Toy" asp-action="All" class="btn btn-primary">All Toys</a>


@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}