@model Toy

@{
    SelectList items = new SelectList(ViewBag.Orders, "Id", "OrderNo");

}

<head>
    <title>Edit Toy</title>
    <link rel="stylesheet" href="~/css/AddForm.css">
</head>

<form asp-controller="Toy" asp-action="Edit">

    <div asp-validation-summary="All" style="color:red"></div>
    <div>
        <label asp-for="Id" class="form-label"></label>
        <input asp-for="Id" class="form-control" readonly/>
        <span asp-validation-for="Id" style="color:red"></span>

        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" style="color:red"></span>

        <label asp-for="Discription" class="form-label"></label>
        <input asp-for="Discription" class="form-control" />
        <span asp-validation-for="Discription" style="color:red"></span>

        <label asp-for="Price" class="form-label"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" style="color:red"></span>

        <label asp-for="InStock"></label>
        <input asp-for="InStock" type="checkbox" /> <br />
        <span asp-validation-for="InStock" style="color:red"></span>

        <label asp-for="GenderFor"></label>
        <select asp-for="GenderFor">
            <option>Boys</option>
            <option>Girls</option>
            <option>All</option>
        </select>

        <label asp-for="OrderId" class="form-label"></label>
        <select asp-items="items" asp-for="OrderId" class="form-control"></select>
        <span asp-validation-for="OrderId" style="color:red"></span>
    </div>
<button type="submit" class="btn btn-primary">Edit</button>
</form>

<a asp-controller="Toy" asp-action="All" class="btn btn-primary">All Toys</a>

@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}